// Fichier de base — commun à tous les environnements

PRODUCT_NAME = $(RailSkills)
DEVELOPMENT_TEAM = Sylvain GALLON
IPHONEOS_DEPLOYMENT_TARGET = 18.0
CODE_SIGN_STYLE = Automatic
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Identifiant du bundle (peut être surchargé)
PRODUCT_BUNDLE_IDENTIFIER = com.monsite.monapp

// URL API par défaut
BASE_API_URL = https://api.monsite.com
